<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
            crossorigin="anonymous"></script>
    <title>Title</title>
    <style>
        nav{
            background: #ffcb00;
        }
        nav li.header{
            font-size: 25px;
            padding-right: 25px;
        }
        .container{
            margin-top:25px;
        }
        #homepage form input{
            margin-top:8px;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-md">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item header">
                    <strong>Star Wars</strong> Explorer
                </li>
                <li class="nav-item">
                    <a href="{% url 'homepage' %}" class="nav-link active" aria-current="page" href="#">Collections</a>
                </li>

            </ul>
        </div>
    </div>
</nav>

<main class="container">
    {% block content %}{% endblock %}
</main>
</body>
</html>